# jupyter
.ipynb_checkpoints
__pycache__

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Infection_vs_Inflammation/Code/Hola.csv

Infection_vs_Inflammation/Code/Hola2.csv
